//COLORS

$blue: #2f63f4;
$black: rgb(3, 3, 3);
$blackMenu: rgb(38, 38, 38);
$grey: rgb(127, 127, 127);
$bg: rgb(237, 237, 237);

//FONTS

@font-face {
  font-family: "Poppins";
  src: url("../../src/assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../src/assets/font/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../src/assets/font/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

//QUERIES

@mixin mobile {
  @media screen and (max-width: 1220px) {
    @content;
  }
}

@mixin onlyTablet {
  @media screen and (min-width: 750px) and (max-width: 1200px) {
    @content;
  }
}
