@import "./config/globals.scss";

html, body {
    margin: 0 4vw;
    padding: 0;
    background-color: $bg;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4.5vh 0;
    font-family: 'Inter';
    font-size: 0.9em;
    font-weight: 600;
    color: $blackMenu;

    .header_Logo {
        width: 100px;
    }

    .header_Menu {
        display: flex;
        margin: 0 0 0 4vw;

        li {
            list-style-type: none;
            margin-right: 3vw;
            cursor: pointer;

            &:hover {
                color: $blue;
            }

            a {
                text-decoration: none;
                color: $blackMenu;
            }
        }

        .active {
            color: $blue;
        }
    }

    .header_Button {

        position: absolute;
        right: 8vw;
        
        button {
            text-decoration: none;
            border: none;
            background-color: $bg;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 0.9em;
            cursor: pointer;

            &:hover {
                color: $blue;
            }

            &:last-of-type {
                background-color: $blue;
                color: white;
                padding: 2vh 2vw;
                margin-left: 2vw;
                border-radius: 10px;
                border: solid 1px $blue;

                &:hover {
                    background-color: $bg;
                    color: $blue;
                }
            }
        }
    }
}

.homeFirst {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "leftArea rightArea"
    "bottomArea bottomArea";
    padding: 10vh 0;

    .homeFirst_leftPart {
        grid-area: leftArea;
        color: $black;
        
        span {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2px;
            color: $grey;
        }

        h1 {
            font-family: 'Poppins';
            font-size: 75px;
            line-height: 1em;
            margin: 20px 20px 40px 0px;
        }

        p {
            font-family: 'Inter';
            font-size: 18px;
        }

        button {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            background-color: $blue;
            border-radius: 10px;
            border: solid 1px $blue;
            padding: 2vh 2vw;
            color: white;
            margin-top: 3vh;
            cursor: pointer;

            &:hover {
                background-color: $bg;
                color: $blue;

                &:last-of-type {
                    background-color: $black;
                    color: white;
                }
            }

            &:last-of-type {
                border-color: black;
                background-color: $bg;
                color: $black;
                margin-left: 2vw;
            }
        }
    }

    img {
        grid-area: rightArea;
        width: 100% ;
    }

    .homeFirst_bottomPart {
        margin-top: 5vh;
        grid-area: bottomArea;
        text-align: center;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;

        img {
            width: 80px;
            margin: 1vh 2vw
        }
    }
}

.homeSecond {
    background-color: white;
    border-radius: 30px;
    padding-left: 5vw;

    h2 {
        font-family: 'Poppins';
        font-size: 48px;
    }
}