@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../../src/assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../src/assets/font/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../src/assets/font/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
html,
body {
  margin: 0 4vw;
  padding: 0;
  background-color: #ededed;
}
html h2,
body h2 {
  grid-area: topLeftArea;
  font-family: "Poppins";
  font-size: 44px;
  margin: 0;
  line-height: 48px;
}
html p,
body p {
  font-family: "Inter";
  font-size: 18px;
  line-height: 24px;
}
html span,
body span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: #7f7f7f;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4.5vh 0;
  font-family: "Inter";
  font-size: 0.9em;
  font-weight: 600;
  color: #262626;
}
.header .header_Logo {
  width: 100px;
}
.header .header_Menu {
  display: flex;
  margin: 0 0 0 4vw;
}
.header .header_Menu li {
  list-style-type: none;
  margin-right: 3vw;
  cursor: pointer;
}
.header .header_Menu li a {
  text-decoration: none;
  color: #262626;
}
.header .header_Menu li a:hover {
  color: #2f63f4;
}
.header .header_Menu .active {
  color: #2f63f4;
}
.header .header_Button {
  position: absolute;
  right: 8vw;
}
.header .header_Button button {
  text-decoration: none;
  border: none;
  background-color: #ededed;
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}
.header .header_Button button:hover {
  color: #2f63f4;
}
.header .header_Button button:last-of-type {
  background-color: #2f63f4;
  color: white;
  padding: 2vh 2vw;
  margin-left: 2vw;
  border-radius: 10px;
  border: solid 1px #2f63f4;
}
.header .header_Button button:last-of-type:hover {
  background-color: #ededed;
  color: #2f63f4;
}

.homeFirst {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftArea rightArea" "bottomArea bottomArea";
  padding: 8vh 0;
}
.homeFirst .homeFirst_leftPart {
  grid-area: leftArea;
  color: #030303;
}
.homeFirst .homeFirst_leftPart h1 {
  font-family: "Poppins";
  font-size: 75px;
  line-height: 1em;
  margin: 20px 20px 40px 0px;
}
.homeFirst .homeFirst_leftPart button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  background-color: #2f63f4;
  border-radius: 10px;
  border: solid 1px #2f63f4;
  padding: 2vh 2vw;
  color: white;
  margin-top: 3vh;
  cursor: pointer;
}
.homeFirst .homeFirst_leftPart button:hover {
  background-color: #ededed;
  color: #2f63f4;
}
.homeFirst .homeFirst_leftPart button:hover:last-of-type {
  background-color: #030303;
  color: white;
}
.homeFirst .homeFirst_leftPart button:last-of-type {
  border-color: black;
  background-color: #ededed;
  color: #030303;
  margin-left: 2vw;
}
.homeFirst img {
  grid-area: rightArea;
  width: 100%;
}
.homeFirst .homeFirst_bottomPart {
  margin-top: 7vh;
  grid-area: bottomArea;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
}
.homeFirst .homeFirst_bottomPart img {
  width: 80px;
  margin: 1vh 2vw;
}

.homeSecond {
  background-color: white;
  border-radius: 30px;
  padding: 10vh 0 10vh 7vw;
  color: #030303;
  box-shadow: 0 0 50px lightgray;
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-areas: "topLeftArea rightArea" "midLeftArea rightArea" "botLeftArea rightArea";
  margin-bottom: 15vh;
}
.homeSecond p {
  grid-area: midLeftArea;
}
.homeSecond button {
  grid-area: botLeftArea;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  background-color: #2f63f4;
  border-radius: 10px;
  border: solid 1px #2f63f4;
  padding: 2vh 2vw;
  color: white;
  margin-top: 1vh;
  cursor: pointer;
  width: 12vw;
}
.homeSecond button:hover {
  background-color: white;
  color: #2f63f4;
}
.homeSecond .homeSecond_rightImage {
  grid-area: rightArea;
  width: 60%;
  align-self: center;
  justify-self: center;
}

hr {
  color: lightgray;
  border: solid 1px lightgray;
}

.homeThird {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-areas: "leftArea topArea" "leftArea topMidArea" "leftArea botMidArea" "leftArea botArea";
  margin: 0 0 15vh 10%;
}
.homeThird img {
  grid-area: leftArea;
  width: 70%;
}
.homeThird span {
  grid-area: topArea;
}
.homeThird h2 {
  grid-area: topMidArea;
}
.homeThird p {
  grid-area: botMidArea;
}
.homeThird button {
  grid-area: botArea;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  background-color: #2f63f4;
  border-radius: 10px;
  border: solid 1px #2f63f4;
  padding: 2vh 2vw;
  color: white;
  margin-top: 1vh;
  cursor: pointer;
  width: 12vw;
}
.homeThird button:hover {
  background-color: #ededed;
  color: #2f63f4;
}

.homeTesti {
  text-align: center;
  color: #030303;
}
.homeTesti .homeTesti_cards {
  display: flex;
  justify-content: space-between;
}
.homeTesti .homeTesti_cards .homeTesti_card {
  background-color: white;
  border-radius: 10px;
  padding: 2vh 4vw;
  margin: 6vh auto;
  width: 16vw;
}
.homeTesti .homeTesti_cards .homeTesti_card .homeTesti_comment,
.homeTesti .homeTesti_cards .homeTesti_card .homeTesti_name {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}
.homeTesti .homeTesti_cards .homeTesti_card .homeTesti_rating {
  display: flex;
  justify-content: center;
}
.homeTesti .homeTesti_cards .homeTesti_card .homeTesti_rating svg {
  width: 1.4vw;
  fill: #2f63f4;
  padding: 0 0.2vw;
}
.homeTesti .homeTesti_cards .homeTesti_card .homeTesti_job {
  font-size: 12px;
  color: #262626;
  margin-top: -16px;
}
.homeTesti .homeTesti_cards .homeTesti_card:nth-of-type(2) {
  position: relative;
  top: -2vh;
}

.pricingFirst {
  margin-top: 70px;
  text-align: center;
}
.pricingFirst h2 {
  text-align: center;
}
.pricingFirst .pricingFirst_Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card {
  text-align: left;
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  width: 22%;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Type {
  font-size: 16px;
  font-weight: bold;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Price {
  font-size: 16px;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Price span {
  color: #030303;
  font-size: 20px;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Price span:first-of-type {
  position: relative;
  bottom: 17px;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Price span:last-of-type {
  font-size: 48px;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card:first-of-type {
  padding: 10px 30px;
  height: 300px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card:last-of-type {
  padding: 10px 30px;
  height: 300px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Card .pricingFirst_Popular {
  font-size: 14px;
  font-weight: lighter;
  color: white;
  background-color: #2f63f4;
  padding: 5px 20px;
  border-radius: 20px;
  letter-spacing: normal;
}
.pricingFirst .pricingFirst_Cards button {
  grid-area: botArea;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  background-color: #2f63f4;
  border-radius: 10px;
  border: solid 1px #2f63f4;
  padding: 2vh 1vw;
  color: white;
  margin-top: 5vh;
  cursor: pointer;
  width: 100%;
}
.pricingFirst .pricingFirst_Cards button:hover {
  background-color: white;
  color: #2f63f4;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Blackbutton {
  background-color: #fff;
  color: #030303;
  border-color: #030303;
}
.pricingFirst .pricingFirst_Cards .pricingFirst_Blackbutton:hover {
  color: white;
  background-color: #030303;
}

.pricingSecond {
  font-family: "Inter";
  color: #030303;
}
.pricingSecond h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 60px 0 20px 0;
}
.pricingSecond h5 {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
}
.pricingSecond .pricingSecond_Features {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.pricingSecond .pricingSecond_Features .pricingSecond_Featureslist {
  width: 26%;
}
.pricingSecond .pricingSecond_Features .pricingSecond_Featureslist ul {
  margin-top: 30px;
  padding-left: 0;
}
.pricingSecond .pricingSecond_Features .pricingSecond_Featureslist ul li {
  margin-bottom: 25px;
  letter-spacing: 1px;
  list-style-type: none;
  padding: 0 20px;
}
.pricingSecond .pricingSecond_Features .pricingSecond_Featureslist ul li::before {
  display: inline-block;
  content: "✓";
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  transform: translate(-15px, 2px);
  background-color: #2f63f4;
  color: white;
}
.pricingSecond .pricingSecond_Features .pricingSecond_Featureslist ul .not::before {
  content: "✗";
  background-color: red;
}

.pricingFAQ {
  margin: 60px 0 0 0;
  text-align: center;
}
.pricingFAQ img {
  width: 35%;
}
.pricingFAQ h3 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

.footer {
  margin: 5vh 0;
  display: flex;
  justify-content: space-around;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  color: #262626;
}
.footer .footer_Logo img {
  width: 60px;
}
.footer .footer_Logo p {
  font-weight: 400;
}
.footer ul {
  margin: 0;
}
.footer ul li {
  list-style-type: none;
  padding-bottom: 2.5vh;
}
.footer ul li a {
  text-decoration: none;
  color: #262626;
}
.footer ul li a:hover {
  color: #2f63f4;
}

/*# sourceMappingURL=style.css.map */
