@import "./config/globals.scss";

html,
body {
  margin: 0 4vw;
  padding: 0;
  background-color: $bg;

  h2 {
    grid-area: topLeftArea;
    font-family: "Poppins";
    font-size: 44px;
    margin: 0;
    line-height: 48px;
  }

  p {
    font-family: "Inter";
    font-size: 18px;
    line-height: 24px;
  }

  span {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: $grey;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4.5vh 0;
  font-family: "Inter";
  font-size: 0.9em;
  font-weight: 600;
  color: $blackMenu;

  .header_Logo {
    width: 100px;
    @include mobile {
      margin: auto;
    }
  }

  .header_Menu {
    display: flex;
    margin: 0 0 0 4vw;

    li {
      list-style-type: none;
      margin-right: 3vw;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $blackMenu;

        &:hover {
          color: $blue;
        }
      }
    }

    .active {
      color: $blue;
    }

    @include mobile {
      display: none;
    }
  }

  .header_Button {
    position: absolute;
    right: 8vw;

    @include mobile {
      display: none;
    }

    button {
      text-decoration: none;
      border: none;
      background-color: $bg;
      font-family: "Inter";
      font-weight: 600;
      font-size: 0.9em;
      cursor: pointer;

      &:hover {
        color: $blue;
      }

      &:last-of-type {
        background-color: $blue;
        color: white;
        padding: 2vh 2vw;
        margin-left: 2vw;
        border-radius: 10px;
        border: solid 1px $blue;

        &:hover {
          background-color: $bg;
          color: $blue;
        }
      }
    }
  }
  .header_BurgerMenu {
    display: none;
    @include mobile {
      display: initial;
    }
    .header_Burger {
      position: absolute;
      right: 20px;
      top: 5vh;
      cursor: pointer;
    }
    .header_BurgerPage {
      position: absolute;
      transform: translateY(-100%);
      transition: transform 0s ease-in;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bg;
      color: $blackMenu;
      list-style: none;
      z-index: 9999;
      .header_BurgerLogo {
        display: none;
      }
    }
    .show_header_BurgerPage {
      position: absolute;
      transform: translateY(0);
      transition: transform 0.6s ease-in;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $bg;
      color: $blackMenu;
      list-style: none;
      z-index: 9999;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      .header_BurgerLogo {
        display: initial;
        width: 120px;
        margin: 30px auto;
      }
      .header_BurgerClose {
        position: absolute;
        font-size: 34px;
        right: 20px;
        top: 30px;
        cursor: pointer;
      }
      ul {
        padding-left: 0;
        li {
          list-style-type: none;
          color: $black;
          padding-bottom: 30px;
          a {
            text-decoration: none;
            color: $black;
          }
        }
        .active {
          color: $blue;
        }
      }
      .header_BurgerButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20%;
        button {
          background-color: $blue;
          border-radius: 10px;
          border: solid 1px $blue;
          padding: 1.4vh 1vw;
          color: white;
          margin: 3vh auto;
          cursor: pointer;
          width: 25vw;
        }
      }
    }
  }
}

.homeFirst {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "leftArea rightArea"
    "bottomArea bottomArea";
  padding: 8vh 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    text-align: center;

    br {
      display: none;
    }
  }

  .homeFirst_leftPart {
    grid-area: leftArea;
    color: $black;

    h1 {
      font-family: "Poppins";
      font-size: 75px;
      line-height: 1em;
      margin: 20px 20px 40px 0px;
      @include mobile {
        font-size: 44px;
        margin: 20px 0;
      }
    }

    button {
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      background-color: $blue;
      border-radius: 10px;
      border: solid 1px $blue;
      padding: 2vh 2vw;
      color: white;
      margin-top: 3vh;
      cursor: pointer;

      &:hover {
        background-color: $bg;
        color: $blue;

        &:last-of-type {
          background-color: $black;
          color: white;
        }
      }

      &:last-of-type {
        border-color: black;
        background-color: $bg;
        color: $black;
        margin-left: 2vw;
      }

      @include mobile {
        padding: 1.5vh 3vw;
        font-size: 16px;
      }
    }
  }

  img {
    grid-area: rightArea;
    width: 100%;

    @include mobile {
      padding: 10px 0 40px 0;
    }
  }

  .homeFirst_bottomPart {
    margin-top: 7vh;
    grid-area: bottomArea;
    text-align: center;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;

    img {
      width: 80px;
      margin: 1vh 2vw;

      @include mobile {
        padding-bottom: 0;
      }
    }

    @include mobile {
      br {
        display: none;
      }
    }
  }
}

.homeSecond {
  background-color: white;
  border-radius: 30px;
  padding: 10vh 0 10vh 7vw;
  color: $black;
  box-shadow: 0 0 50px lightgray;
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-areas:
    "topLeftArea rightArea"
    "midLeftArea rightArea"
    "botLeftArea rightArea";

  margin-bottom: 15vh;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: 40px;
      margin: 20px 10px;
    }
  }

  p {
    grid-area: midLeftArea;
  }

  button {
    grid-area: botLeftArea;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    background-color: $blue;
    border-radius: 10px;
    border: solid 1px $blue;
    padding: 2vh 2vw;
    color: white;
    margin-top: 1vh;
    cursor: pointer;
    width: 12vw;

    @include mobile {
      width: 40vw;
      margin: auto;
    }

    &:hover {
      background-color: white;
      color: $blue;
    }
  }

  .homeSecond_rightImage {
    grid-area: rightArea;
    width: 60%;
    align-self: center;
    justify-self: center;

    @include mobile {
      position: relative;
      width: 80%;
    }
  }
}

hr {
  color: lightgray;
  border: solid 1px lightgray;
}

.homeThird {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-areas:
    "leftArea topArea"
    "leftArea topMidArea"
    "leftArea botMidArea"
    "leftArea botArea";
  margin: 0 0 15vh 10%;

  @include mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px auto;
  }

  img {
    grid-area: leftArea;
    width: 70%;
    @include mobile {
      width: 80%;
      margin: auto;
    }
  }

  span {
    grid-area: topArea;

    @include mobile {
      display: none;
    }
  }

  h2 {
    grid-area: topMidArea;
    @include mobile {
      font-size: 36px;
      margin: 20px 0;
    }
  }

  p {
    grid-area: botMidArea;
  }

  button {
    grid-area: botArea;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    background-color: $blue;
    border-radius: 10px;
    border: solid 1px $blue;
    padding: 2vh 2vw;
    color: white;
    margin-top: 1vh;
    cursor: pointer;
    width: 12vw;

    &:hover {
      background-color: $bg;
      color: $blue;
    }
    @include mobile {
      width: 40vw;
      margin: 20px auto 40px auto;
    }
  }
}

.homeTesti {
  text-align: center;
  color: $black;

  .homeTesti_cards {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      margin-bottom: 50px;
    }

    .homeTesti_card {
      background-color: white;
      border-radius: 10px;
      padding: 2vh 4vw;
      margin: 6vh auto;
      width: 16vw;

      @include mobile {
        width: 80%;
        margin: 4vh auto 1vh auto;
      }

      .homeTesti_comment,
      .homeTesti_name {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
      }

      .homeTesti_rating {
        display: flex;
        justify-content: center;
        svg {
          width: 1.4vw;
          fill: $blue;
          padding: 0 0.2vw;

          @include mobile {
            width: 5vw;
          }
        }
      }

      .homeTesti_job {
        font-size: 12px;
        color: $blackMenu;
        margin-top: -16px;
      }

      &:nth-of-type(2) {
        position: relative;
        top: -2vh;

        @include mobile {
          position: initial;
        }
      }
    }
  }
}

.pricingFirst {
  margin-top: 70px;
  text-align: center;

  @include mobile {
    br {
      display: none;
    }
    margin-top: 40px;
  }

  h2 {
    text-align: center;
  }

  .pricingFirst_Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    @include mobile {
      flex-direction: column;
    }
    .pricingFirst_Card {
      text-align: left;
      background-color: white;
      border-radius: 20px;
      padding: 40px 30px;
      width: 22%;
      @include mobile {
        width: 80%;
        margin: 30px;
        text-align: center;
        position: relative;
        p {
          width: 80%;
          margin: 20px auto 20px auto;
        }
      }
      .pricingFirst_Type {
        font-size: 16px;
        font-weight: bold;
      }
      .pricingFirst_Price {
        font-size: 16px;
        span {
          color: $black;
          font-size: 20px;
          &:first-of-type {
            position: relative;
            bottom: 17px;
          }
          &:last-of-type {
            font-size: 48px;
          }
        }
      }
      &:first-of-type {
        padding: 10px 30px;
        height: 300px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include mobile {
          border-radius: 20px;
        }
      }
      &:last-of-type {
        padding: 10px 30px;
        height: 300px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @include mobile {
          border-radius: 20px;
        }
      }
      .pricingFirst_Popular {
        font-size: 14px;
        font-weight: lighter;
        color: white;
        background-color: $blue;
        padding: 5px 20px;
        border-radius: 20px;
        letter-spacing: normal;
        @include mobile {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          line-height: 35px;
        }
      }
    }
    button {
      grid-area: botArea;
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      background-color: $blue;
      border-radius: 10px;
      border: solid 1px $blue;
      padding: 2vh 1vw;
      color: white;
      margin-top: 5vh;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: white;
        color: $blue;
      }
      @include mobile {
        margin-top: 3vh;
      }
    }
    .pricingFirst_Blackbutton {
      background-color: #fff;
      color: $black;
      border-color: $black;
      &:hover {
        color: white;
        background-color: $black;
      }
    }
  }
}

.pricingSecond {
  font-family: "Inter";
  color: $black;
  h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    margin: 60px 0 20px 0;
    @include mobile {
      text-align: center;
    }
  }
  h5 {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;
    @include mobile {
      text-align: center;
    }
  }
  .pricingSecond_Features {
    display: flex;
    justify-content: space-between;
    text-align: left;

    @include mobile {
      flex-direction: column;
      text-align: center;
    }

    .pricingSecond_Featureslist {
      width: 26%;
      @include mobile {
        width: 90%;
        margin: auto;
      }
      ul {
        margin-top: 30px;
        padding-left: 0;
        li {
          margin-bottom: 25px;
          letter-spacing: 1px;
          list-style-type: none;
          padding: 0 20px;

          &::before {
            display: inline-block;
            content: "✓";
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            width: 35px;
            height: 35px;
            border-radius: 20px;
            transform: translate(-15px, 2px);
            background-color: $blue;
            color: white;
          }
        }

        .not {
          &::before {
            content: "✗";
            background-color: red;
          }
        }
      }
    }
  }
}

.pricingFAQ {
  margin: 60px auto;
  text-align: center;
  width: 50%;
  font-family: "Inter", sans-serif;

  @include mobile {
    width: 90%;
  }
  img {
    width: 75%;
    @include mobile {
      width: 100%;
    }
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    @include mobile {
      font-size: 32px;
    }
  }

  details {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;

    summary {
      list-style: none;
    }

    &[open] {
      font-size: 16px;
      line-height: 20px;
      summary {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.aboutFirst {
  text-align: center;
  width: 80%;
  margin: 80px auto;

  .aboutFirst_Team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    img {
      width: 20%;
      margin: 20px;
      @include mobile {
        width: 35%;
      }
    }
  }
}

.aboutSecond {
  text-align: center;
  width: 60%;
  margin: 60px auto;
  @include mobile {
    width: 80%;
    br {
      display: none;
    }
  }

  hr {
    margin: 60px 0 20px 0;
  }
  img {
    width: 70%;
    margin: 50px;
    @include mobile {
      width: 80%;
      margin: 20px auto 20px auto;
    }
  }
}

.homeContact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftArea rightArea";
  padding: 4vh 0;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
  img {
    padding-top: 20%;
    grid-area: leftArea;
    width: 100%;
    @include mobile {
      padding-top: 0;
    }
  }
  .homeContact_rightPart {
    grid-area: rightArea;
    color: $black;
    padding-left: 10%;
    @include mobile {
      text-align: center;
      padding: 0;
      margin: auto;
    }
    h2 {
      font-family: "Poppins";
      font-size: 75px;
      line-height: 1em;
      margin: 20px 20px 40px 0px;
      @include mobile {
        font-size: 50px;
        margin: 20px auto 40px auto;
      }
    }
    p {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: lighter;
      line-height: 1em;
    }
    form {
      label {
        font-family: "Poppins";
      }
      input {
        font-family: "Poppins";
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100% 100% 100%;
        grid-template-areas: "firstArea secondArea thirtArea";
        padding: 1rem;
        margin-bottom: 1rem;
        border: white;
        border-radius: 12px;
        width: 450px;
        @include mobile {
          width: 90%;
          margin: 5px auto 20px auto;
          padding: 1rem 12px;
        }
      }
    }
    button {
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      background-color: $blue;
      border-radius: 10px;
      border: solid 1px $blue;
      padding: 1rem;
      color: white;
      margin-top: 3vh;
      cursor: pointer;
      width: 480px;

      &:hover {
        background-color: $bg;
        color: $blue;
      }
      @include mobile {
        width: 100%;
        padding: 1rem 20px;
        margin-top: 1vh;
      }
    }
  }
}

.footer {
  margin: 5vh 0;
  display: flex;
  justify-content: space-around;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  color: $blackMenu;

  @include mobile {
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    margin: 3vh 0;
  }

  .footer_Logo {
    img {
      width: 60px;
    }
    p {
      font-weight: 400;
    }
    @include mobile {
      width: 100%;
    }
  }

  ul {
    margin: 0;

    li {
      list-style-type: none;
      padding-bottom: 2.5vh;

      a {
        text-decoration: none;
        color: $blackMenu;

        &:hover {
          color: $blue;
        }
      }
    }

    @include mobile {
      margin-top: 20px;
      padding-left: 0;
    }
  }
}
